numpy==1.23.5
scipy==1.10.1
pandas==1.5.3
matplotlib==3.7.1
scikit-learn==1.2.2
scikit-image==0.21.0
opencv-python-headless
seaborn==0.12.2
albumentations==1.1.0
tqdm
pyyaml
tabulate
einops
timm==0.6.12
transformers==4.21.3
torchmetrics
ptflops
thop
tensorboardx
ml_collections
medpy
h5py
nibabel
simpleitk
tifffile
pillow
loguru
torchsummary
torchsummaryx
segmentation-mask-overlay==0.3.4
warmup-scheduler
huggingface-hub==0.11.0
rdp 
opencv-python-headless 
